/* Estilos específicos para el formulario de reporte de incapacidades */

.form-container {
    width: 80%;
    max-width: 600px;
    margin: 180px auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    position: relative;
}

.form-container h1{
    color: #616161;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #464646;
}

.form-group input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.form-group label i{
    position: absolute;
    right: 20px;
    margin-top: 60px;
    margin-right: 45px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #616161;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 20px; /* Añade espacio para la flecha del desplegable */
    background-image: url('https://img.icons8.com/android/24/000000/expand-arrow.png');
    background-size: 15px;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.btn-primary {
    width: 100%;
    height: 45px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.custom-file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.custom-file-upload i {
    margin-bottom: 8px;
    padding: 5px;
    color: #616161; 
}

.custom-file-upload a {
    text-decoration: none;
    color: #616161; 
}

.custom-file-upload a:hover {
    text-decoration: none;
}






.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.message-container {
    margin-top: 20px;
}

#mensajeIncapacidad {
    font-weight: normal;
}

/* Establece la posición y el estilo del contenedor de carga */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

/* Establece el estilo del texto de carga */
.loading-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center; /* Alinea el texto al centro */
    color: #000; /* Cambia el color del texto según tus preferencias */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 30px 0px 0px -80px;
}

/* Establece el estilo de la animación de carga */
.loading {
    /*border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;*/
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

.loading:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.loading-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #000; /* Cambia el color del número según tus preferencias */
}

/* Agrega una animación de giro al contorno del círculo */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.error-container {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #721c24;  /* Color del texto en el cuadro de alerta */
    background-color: #f8d7da;  /* Color de fondo del cuadro de alerta */
    border-color: #f5c6cb;  /* Color del borde del cuadro de alerta */
}

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    
    /*transform: translate(-50%, -50%);
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;*/
}

.success-icon {
    width: 100px;
    height: 100px;
    background-color: #28a745;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Establece el estilo del texto de éxito */
.success-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}